@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
font-family: "poppins";

}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #527265;
    min-height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;

}

.contato{
    text-align: center;
}

div.rodape {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: nowrap;

}

div.instagram{
    display: flex;
    align-items: center;
}

img.instagram { 
    max-height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

a.instagram {
text-decoration: none;
color: black;

}

div.whatsapp {
    display: flex;
    align-items: center;

}

img.whatsapp{
    max-height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

div.telefone {
    display: flex;
    align-items: center;

}
